/* CSS reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/* Main CSS*/
/* Fonts */
@font-face {
font-family: Titillium; 
	src: url(fonts\TitilliumWeb-SemiBold.ttf);
}

body{
	font-family: Titillium, sans-serif;
	width: 100%;
	color: #7a7a79;
}
.header-flex{
	display: flex;
	/* flex-wrap: wrap; */
	flex-direction: row;
	height: 150px;
	border: 1px solid black;
	margin-top: 100px;
}
.header-flex-item {
	text-align: center;
	padding-left: 20px;
	border: 1px solid black;
}

.logo-flex {
	display: flex;
	flex-direction: column;
	width: 160px;
	height: 25px;
}
	

.logo-flex-item {
	display: flex;
	flex-direction: row;

}

.language-nav {
	padding-top: 20px;
	
}
.language-nav {
	width: 20%;
}
.page-nav {
	width: 50%;
}
.lang-nav-el {
	display: inline-block;
	width: 20%;
	text-align: center;
	font-size: 0.875rem;
}

.page-nav {
	padding-top: 20px;
}
	
.page-el {
	display: inline-block;
	text-align: center;
	width: 15%;
	border: 1px solid black;
}

.login-nav{
	width: 30%;
	text-align: left;
}
.sign-up {
	background: linear-gradient(to bottom right, #582c7e, #7887bc);
	border: 0px;
	height: 43px;
	width: 97px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	border-radius:  20px;
	box-shadow: 0px 10px 10px #8796c7;
}

.main-info {
	display: flex;
	flex-flow: column;
	text-align: center;
	align-items: center;
	border: 1px solid red;
	justify-content: center;
}
.main-info h2 {
	margin-top: 60px;
	font-size: 3.7rem;
	font-weight: bold;
}
.main-info h3 {
	font-size: 2.1rem;
	letter-spacing: 0.6;
	justify-items: center;
	margin-top: 20px;
}
.buttons {
	display: flex;
	align-items: center;
	margin-top: 80px;
	
	/* grid-template-columns: 4fr 1fr 4fr; */
	justify-content: space-around;
	width: 400px;
	border: 1px solid black; 
}
.istore, .play-market {
	height: 50px;
	width: 50px;
	align-content: center;
	background-color: #714a82;
	border: 0px;
	border-radius: 50%;
	
}
.create-account {
	display: inline-block;
	
	width: 250px;
	height: 60px;
	font-size: 1.125rem;
	color: white;
	font-weight: bold;
	background: linear-gradient(to left, #5f2e69 , #636b92);
	border: 0px;
	border-radius: 40px;
	box-shadow: 0px 10px 10px #90a9e1;
	-webkit-box-shadow: 0px 10px 10px #90a9e1;
	-moz-box-shadow: 0px 10px 10px #90a9e1;
}
.features {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid purple;
	margin-left:10px;
	margin-top: 300px;

}
.features-container {
	display: flex;
	flex-flow: column;
	align-items: top;
	margin-top: 0
}
.feat-wrap {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	justify-content: left;
	align-items: top;
	/* display: inline-block;
	text-align: left;
	width: 100%; */

}
.feat-wrap img {
	height: 75%;
	border: 1px solid green;
}
.features h2 {
	font-size: 1.875rem;
	display: inline-block;
}
/* .company ul{
	direction: rtl;
} */
.features h3 {
	font-size: 1.1rem;
	display: block;
}
.features p {
	display: block;
	font-size: 0.875rem;
	margin-top: 20px;
	border: 1px solid green;
	width: 370px; 
}
.features div {

	
	border: 1px solid brown;
	margin-left: 30px;
}
.physical-security {
	/* position: relative; */
	display: block;
	width: 630px;
	text-align: right;
	border: 1px solid blue;
}
.physical-security h2 {
	font-size: 3.75rem;
	
	/* position: relative; */
}
.physical-security p {
	display: block;
	width: 620px;
	font-size: 1.5rem;
	
}
.physical-security:after {
	/* content: "";
	width:1000px;
	border: 1px solid black;
	top: 50px; */
	display: block;
    width:1000px;
    content: '';
    position: relative;
    border-bottom: 1px solid #000;
    top:50px;
	left: 110px; 
	overflow: hidden;
}

.requirements h3{
	font-size: 2rem;
}
.requirements p{
	max-width: 435px;
	text-align: right;
}
.devices {
	position: relative;
	left: 550px;

}
.suggest h3 {
	font-size: 2.25rem;
}
.suggest p {
	font-size: 1.8rem;
}
.support-buttons {
	/* display: flex;
	flex-flow: row;
	justify-items: space-between; */
	margin-top: 20px;
	text-align: center;
}
.upgrade-button {
	display: inline-block;
	margin-right: 20px;
	width: 250px;
	height: 60px;
	background: linear-gradient(to right, #646c92, #5f2f6a);
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #7382ad;
	-webkit-box-shadow: 0px 10px 10px #7382ad;
	-moz-box-shadow: 0px 10px 10px #7382ad;
	border-radius: 30px;
	border: 0px;
}
.donate-button {
	display: inline-block;
	margin-left: 20px;
	width: 170px;
	height: 60px;
	background: linear-gradient(to right, #37b9e1, #5e7bea);
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #61b7b6;
	-webkit-box-shadow: 0px 10px 10px #61b7b6;
	-moz-box-shadow: 0px 10px 10px #61b7b6;
	border-radius: 30px;
	border: 0px;
}

.learn-about {
	height: 65px;
	width: 335px;
	background-color: white;
	border-radius: 40px;
	border: 1px solid #c1c1c1;
	text-align: center;
}
.center {
	text-align: center;
}

.dotted li:after {
	content: disc;
}

.footer {
	display: flex;
	flex-flow:column;
}
.bottom {
	display: flex;
	flex-flow: row;
	}

.bottom div {
	border: 1px solid red;
	}
.partners:before {
	display: block;
    width:1000px;
    content: '';
    position: relative;
    border-bottom: 1px solid #b9b9b9;
    /* top:50%; */
    left: 500px; 
}

.contacts {
	width: 220px;
	font-size: 0.875rem;

}
.company, .legal, .NeutronMail:after {

}
.social-networks {
	display: flex;
	width: 370px;
	justify-content: space-around;
	border: 1px solid orange;
	font-size: 0.75rem;
}
.dotted {

}
.copyright {
	font-size: 0.75rem;
	margin-top: 10px;
}

/* @media
.header-flex{
	display: flex;
	flex-wrap: wrap;
} */