/* CSS reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/* Main CSS*/
/* Fonts */
@font-face {
font-family: "Titillium"; 
	src: url(./assets/fonts/TitilliumWeb-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Titillium"; 
		src: url(./assets/fonts/TitilliumWeb-Bold.ttf) format('truetype');
		font-weight: bold;
		font-style: normal;
	}

body {
	font-family: "Titillium", sans-serif;
	/* width: 100%; */
	max-width:1800px;
	margin: 0 auto;
	color: #7a7a79;
}
main {
	display: flex;
	flex-direction: column;
}
a{
	text-decoration: none;
}
.header-flex{
	display: flex;
	/* flex-wrap: wrap; */
	
	flex-direction: row;
	height: 150px;
	max-width: 1400px;
	margin: 0 auto;
	align-content: space-around;
	margin-top: 70px;
}
.header-flex-item {
	text-align: center;
}

.logo-flex {
	display: flex;
	flex-direction: column;
	width: 160px;
	height: 25px;
	margin-top: -5px;
}
	

.logo-flex-item {
	display: flex;
	flex-direction: row;

}

.language-nav {
	padding-top: 20px;
	color: #aaaaaa;
	/* width: 20%; */
}
.page-nav {
	/* width: 50%; */
	width: 100%;
}
.lang-nav-el {
	display: inline-block;
	/* width: 20%; */
	text-align: center;
	font-size: 0.875rem;
	letter-spacing: 0.4;
	/* margin-top: 25px; */
	padding: 28px 5px;
	color: #9c9c9c;
}
.lang-nav-el:first-of-type{
	font-weight: bold;
	color: #959595;
	text-decoration: underline;
}
.effect:hover {
	
	font-size: 1.5em;
	font-weight: bold;
}
.page-nav {
	padding-top: 20px;
	text-align: right;
	margin-right: 40px;
}
.page-el {
	display: inline-block;
	text-align: center;
	margin-left:25px;
	color: #5e5e5e;
}
/* .page-el:hover {
	color: #60326c;
} */

.login-nav{
	width: 300px;
	text-align: right;
	margin-top: 10px;
}
.sign-up {
	background: linear-gradient(to bottom right, #582c7e, #7887bc);
	border: 0px;
	height: 43px;
	width: 97px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	border-radius:  20px;
	box-shadow: 0px 10px 10px #8796c7;
}

.main-info {
	text-align: center;
	background: url(assets/main_layer.png)  center center no-repeat;
	height:650px;
	margin-top: 0px;
}
.main-info h1 {
	margin-top: 95px;
	text-align: center;
	font-size: 3.75rem;
	font-weight: bold;
	color: #797a79;
}
.main-info h3 {
	font-size: 2.2rem;
	letter-spacing: 0.05rem;
	justify-items: center;
	margin-top: 15px;
	color: #797a79;
}
.buttons {
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-top: 75px;
	justify-content: space-around;
	width: 410px;
}
.istore, .play-market {
	height: 47px;
	width: 47px;
	align-content: center;
	background-color: #714a82;
	border: 0px;
	border-radius: 50%;
}
.create-account {
	display: inline-block;
	width: 248px;
	height: 59px;
	font-size: 1.0rem;
	color: white;
	font-weight: bold;
	background: linear-gradient(to left, #5f2e69 , #636b92);
	border: 0px;
	border-radius: 40px;
	box-shadow: 0px 10px 10px #90a9e1;
	-webkit-box-shadow: 0px 10px 10px #90a9e1;
	-moz-box-shadow: 0px 10px 10px #90a9e1;
}

.feat-wrap {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	justify-content: left;
	align-items: top;
	position: relative;
	margin-top: -10px;
	height: 80px;
	color: #555555;
}

.features h2 {
	font-size: 1.86rem;
	display: inline-block;
	margin-top: 10px;
	letter-spacing: 0.03rem;
	color: #959393;
}

.features h3 {
	font-size: 1.1rem;
	display: block;
	line-height: 1.5rem;
	letter-spacing: 0.03rem;
	color: #959393;
}
.features p {
	display: block;
	font-size: 0.875rem;
	margin-top: 15px;
	margin-left: 15px;
	/* border: 1px solid green; */
	width: 370px; 
	line-height: 1.3rem;
}
.area1 {
	margin-left: 65px;
	grid-area: a1; 
}
.area2 {
	grid-area: a2; 
	border-right: 1px solid #b9b9b9; 
}
.area3 {
	grid-area: a3; 
}
.area3::before {
	content: '';
	display: block;
    position: absolute;
    border-bottom: 1px solid #b9b9b9;
	height: 1px;
	margin-left: 425px; 
	margin-top: 0px;
	width:190px;	
}
.left-line {
	grid-area: a5;
}

.features {
	margin-top: 45px;
	display: grid;
	grid-template-columns: 1fr  500px 436px 436px 1fr ;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	". a1 a2 a3 ."
	"a5 a4 a4 . .";
}
.features-container {
	padding: 0 34px;
}
.left-line {
	margin-left: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #b9b9b9; 
}
.physical-security {
	display: flex;
	flex-flow: column;
	justify-items: flex-end;
	text-align: right;
	padding-top: 50px;
	padding-right: 40px;
	grid-area: a4;
	border-bottom: 1px solid #b9b9b9; 
	border-right: 1px solid #b9b9b9; 
}
.physical-security h2 {
	font-size: 3.75rem;
	letter-spacing: 0.05rem;
	color: #555555;
}
.physical-security p {
	/* display: block; */
	align-self: flex-end;
	width: 645px;
	margin-bottom: -7px;
	font-size: 1.5rem;
	line-height:1.35rem;
	word-spacing: 0.2rem; 
	color: #959393; 
}
.learn-about {
	position: relative;
	top: 30px;
	left: 200px;
	height: 63px;
	width: 335px;
	background-color: white;
	border-radius: 40px;
	border: 1px solid #c1c1c1;
	text-align: center;
	font-size:1rem;
	word-spacing: -0.05rem;
}
.main-bottom {
	display: flex;
	flex-flow: column;
	background: url(./assets/devices.png) no-repeat 78% 175px, url(./assets/background.png) no-repeat 0px 290px;
} 
.media {
	padding-left:20px;
	margin-top:70px;
	text-align:left;
}
.quotes {
	height: 250px;
	margin: 50px auto 0;
	position: relative;
    width: 550px;
	font-family: "Malaga", sans-serif;
	margin-left: 400px;
}
.quotes > input {
	display: none;
}
.sl-cont {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transition: 1s;
	font-size: 1.5rem;
	font-style: italic;
	line-height: 2rem;
	margin-top: 2px;
}
.author {
	font-size: 1rem;
	line-height: 2.5rem;
}

.quotes .check {
	display: flex;
	flex-flow: column;
	position: absolute;
	margin-left: -45px;
}
.quotes label {
	cursor: pointer;
	display: inline-block;
	height: 13px;
	width: 13px;
	margin-top: 11px;
	margin-left: 7px;
	position: relative;
	border-radius: 50%;
}
.quotes label:after {
	background: #b7b7b7;
	content: "";
	display: block;
	height: 11px;
	width: 11px;
	left: 1px;
	position: absolute;
	z-index: -1;
	border-radius: 50%;
}

#nr1:checked ~ .check label:nth-of-type(1),
#nr2:checked ~ .check label:nth-of-type(2),
#nr3:checked ~ .check label:nth-of-type(3) {
	background: #111;
	
}
#nr1:checked ~ .sl-cont > .quote1,
#nr2:checked ~ .sl-cont > .quote2,
#nr3:checked ~ .sl-cont > .quote3 {
	opacity: 1;
	z-index: 1;
	transform: none;
	-webkit-filter: none;
}

.requirements{
	display: flex;
	flex-flow: column;
	justify-content:flex-end;
	align-items: flex-end;
	width: 435px;
	margin:  20px auto;
}
.requirements h3{
	font-size: 2.3rem;
	letter-spacing: 0.027rem;
}
.requirements p{
	margin-top: 20px;
	text-align: right;
	line-height: 1.375rem;
	letter-spacing: 0.012rem;
}
.download {
	display: flex;
	align-items: center;
	padding-top: 30px;
	justify-content: space-around;
	width: 392px;
}
.download::after {
	content: '';
	display: block;
    position: absolute;
    border-bottom: 1px solid #b9b9b9;
	height: 1px;
	margin-left: 180px; 
	margin-top: 190px;
	width:1400px;
}
.suggest {
	text-align: center;
	padding-top: 215px;
}
.suggest h3 {
	font-size: 2.25rem;
	letter-spacing: 0.01rem;
	color:#535353;
}
.suggest p {
	font-size: 1.875rem;
	line-height: 2.6rem;
	letter-spacing: -0.015rem;
	color: #7c7c7c;
}
.support-buttons {
	margin-top: 40px;
	text-align: center;
}
.upgrade-button {
	display: inline-block;
	margin-right: 20px;
	width: 250px;
	height: 60px;
	background: linear-gradient(to right, #646c92, #5f2f6a);
	color: white;
	font-size: 1.1rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #7382ad;
	-webkit-box-shadow: 0px 10px 10px #7382ad;
	-moz-box-shadow: 0px 10px 10px #7382ad;
	border-radius: 30px;
	border: 0px;
}
.donate-button {
	display: inline-block;
	margin-left: 20px;
	width: 170px;
	height: 60px;
	background: linear-gradient(to right, #37b9e1, #5e7bea);
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #61b7b6;
	-webkit-box-shadow: 0px 10px 10px #61b7b6;
	-moz-box-shadow: 0px 10px 10px #61b7b6;
	border-radius: 30px;
	border: 0px;
}
.center {
	text-align: center;
}
.footer {
	margin-top: 80px;
	width: 1400px;
	border-top: solid 1px #b9b9b9; 
	border-right: solid 1px #b9b9b9; 
	padding-top: 20px;
	z-index:10;
}
.those {
	text-align: right;
	margin-right: 20px;
	font-size: 0.85rem;
	word-spacing: 0.15rem;
}

.partners {
	text-align: right;
	margin-right: -40px;
	overflow:hidden;
}
.bottom {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin-top: 160px;
	margin-left: 200px;
	border-left: solid 1px #b9b9b9;
}

.contacts {
	display: inline-block;
	width: 500px;
	font-size: 0.5rem;
	line-height: 1.4rem;
	margin-top: -5px;
	letter-spacing: 0.01rem;
}
.contacts a{
	text-decoration: none;
	color:rgba(92, 92, 92, 255);
}
.site-nav {
	display:flex;
	flex-flow: row;
	justify-items: space-between;
	margin-right: 30px;
}
 .company, .legal, .NuetronMail {
	width: 200px;
} 
.bottom h4 {
	font-weight: bold;
	text-align: right;
	font-size:1.075rem;
}
.contacts {
	margin-left: 20px;
	font-size: 0.875rem;
}
.company, .legal, .NuetronMail {
	text-align: right;
}
.company-first {
	margin-right: 50px;
}
.company-first::after {
	content: '';
	display: block;
    position: absolute;
    border-right: 1px solid #b9b9b9;
	width: 1px;
	margin-left: 225px; 
	margin-top: -165px;
	height:320px;
}
.dotted {
	font-size: 0.875rem;
	line-height: 1.5rem;
	margin-top: 25px;
	margin-right: 5px;
}
.dotted a{
	text-decoration: none;
	color: #5c5c5c;
}
.dotted li:after {
	display: inline-block;
	content: "";
	border: 1px solid black;
	height: 2px;
	width: 2px;
	border-radius: 50%;
	background-color: black;
	position: relative;
	left: 5px;
	top: -3px;
}
.social {

}

.social-networks {
	display: flex;
	width: 360px;
	justify-content: space-between;

	margin-left: 200px;
	margin-top: 75px;
	display: flex;
	font-size: 0.75rem;
}
.social-networks a{
	text-decoration: none;
	color: #5c5c5c;
}
.copyright {
	margin-left: 200px;
	font-size: 0.75rem;
	margin-top: 20px;
}

/* @media
.header-flex{
	display: flex;
	flex-wrap: wrap;
} */