/* CSS reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/* Main CSS*/
/* Fonts */
@font-face {
font-family: Titillium; 
	src: url(fonts\TitilliumWeb-SemiBold.ttf);
}

body{
	font-family: Titillium, sans-serif;
	/* width: 100%; */
	max-width:1800px;
	margin: 0 auto;
	color: #7a7a79;
}
.header-flex{
	display: flex;
	/* flex-wrap: wrap; */
	
	flex-direction: row;
	height: 150px;
	max-width: 1400px;
	margin: 0 auto;
	align-content: space-around;
	margin-top: 70px;
}
.header-flex-item {
	text-align: center;
}

.logo-flex {
	display: flex;
	flex-direction: column;
	width: 160px;
	height: 25px;
	margin-top: -5px;
}
	

.logo-flex-item {
	display: flex;
	flex-direction: row;

}

.language-nav {
	padding-top: 20px;
	/* width: 20%; */
}
.page-nav {
	/* width: 50%; */
	width: 100%;
}
.lang-nav-el {
	display: inline-block;
	/* width: 20%; */
	text-align: center;
	font-size: 0.875rem;
	letter-spacing: 0.8;
	margin-top: 25px;
}
.page-nav {
	
	padding-top: 20px;
	text-align: right;
	margin-right: 40px;
}
.page-el {
	display: inline-block;
	text-align: center;
	margin-left:20px;
}

.login-nav{
	width: 300px;
	text-align: right;
	margin-top: 10px;
}
.sign-up {
	background: linear-gradient(to bottom right, #582c7e, #7887bc);
	border: 0px;
	height: 43px;
	width: 97px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	border-radius:  20px;
	box-shadow: 0px 10px 10px #8796c7;
}

.main-info {
	text-align: center;
	justify-content: top;
	background: url(assets/main_layer.png) center center no-repeat;
	
	height: 450px;
	margin-top: 0px;

}
.main-info h1 {
	margin-top: 100px;
	text-align: center;
	font-size: 3.4rem;
	font-weight: bold;
}
.main-info h3 {
	font-size: 2.1rem;
	letter-spacing: 0.6;
	justify-items: center;
	margin-top: 20px;
}
.buttons {
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-top: 75px;
	justify-content: space-around;
	width: 410px;
}
.istore, .play-market {
	height: 47px;
	width: 47px;
	align-content: center;
	background-color: #714a82;
	border: 0px;
	border-radius: 50%;
}
.create-account {
	display: inline-block;
	width: 248px;
	height: 59px;
	font-size: 1.0rem;
	color: white;
	font-weight: bold;
	background: linear-gradient(to left, #5f2e69 , #636b92);
	border: 0px;
	border-radius: 40px;
	box-shadow: 0px 10px 10px #90a9e1;
	-webkit-box-shadow: 0px 10px 10px #90a9e1;
	-moz-box-shadow: 0px 10px 10px #90a9e1;
}
/*.features {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid purple;
	
	margin-top: 90px;

}
.features-container {
	display: flex;
	flex-flow: column;
	align-items: top;
	margin-top: 0
}*/
.feat-wrap {
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	justify-content: left;
	align-items: top;
	/*	width: 100%;*/ 


}
/* .features {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 3fr 1fr;
	border: 1px solid black;
} */
.feat-wrap img {
	
	/* border: 1px solid green; */
}
.features h2 {
	font-size: 1.875rem;
	display: inline-block;
}
/* .company ul{
	direction: rtl;
} */
.features h3 {
	font-size: 1.1rem;
	display: block;
}
.features p {
	display: block;
	font-size: 0.875rem;
	margin-top: 20px;
	margin-left: 15px;
	/* border: 1px solid green; */
	width: 370px; 
	line-height: 1.4rem;
}
.features div {

	
	/* border: 1px solid brown; */
	/* margin-left: 30px; */
}
.area1 {
	grid-area: a1; 
	/* grid-column: 2; 
    grid-row: 1; */


}
.area2 {
	grid-area: a2; 
	border-right: 1px solid black; 
	/* grid-column: 3; 
	grid-row: 1; */

}
.area3 {
	grid-area: a3; 
	
	/* grid-column: 4; 
	grid-row: 1; */


}
.physical-security {
	/* position: relative; */
	/* display: block; */
	/* width: 630px; */
	text-align: right;
	padding-top: 50px;
	padding-right: 40px;
	/* border: 1px solid blue; */
	grid-area: a4;
	border-bottom: 1px solid black; 
	border-right: 1px solid black; 
	/* grid-column: 2/4; 
    grid-row: 2; */
}

.features {
	margin-top: 140px;
	display: grid;
	grid-template-columns: 1fr repeat(3, 436px) 1fr ;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	". a1 a2 a3 ."
	". a4 a4 . .";
	/* grid-gap: 70px; */
	margin-left: 65px;
	
}
.features-container {
	padding: 0 34px;
}



.physical-security h2 {
	font-size: 3.75rem;
	
	/* position: relative; */
}
.physical-security p {
	display: inline-block;
	width: 645px;
	font-size: 1.5rem;
	line-height:1.35rem;
	word-spacing: 0.0008rem;  
	letter-spacing: 0.0001rem; 

	/* text-align: right; */
	
	
}
.physical-security:after {
	/* content: "";
	width:1000px;
	border: 1px solid black;
	top: 50px; */
	display: block;
    width:1000px;
    content: '';
    position: relative;
    border-bottom: 1px solid #000;
    top:50px;
	left: 110px; 
	overflow: hidden;
}

.requirements h3{
	font-size: 2rem;
}
.requirements p{
	max-width: 435px;
	text-align: right;
}
.devices {
	position: relative;
	left: 550px;

}
.suggest h3 {
	font-size: 2.25rem;
}
.suggest p {
	font-size: 1.8rem;
}
.support-buttons {
	/* display: flex;
	flex-flow: row;
	justify-items: space-between; */
	margin-top: 20px;
	text-align: center;
}
.upgrade-button {
	display: inline-block;
	margin-right: 20px;
	width: 250px;
	height: 60px;
	background: linear-gradient(to right, #646c92, #5f2f6a);
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #7382ad;
	-webkit-box-shadow: 0px 10px 10px #7382ad;
	-moz-box-shadow: 0px 10px 10px #7382ad;
	border-radius: 30px;
	border: 0px;
}
.donate-button {
	display: inline-block;
	margin-left: 20px;
	width: 170px;
	height: 60px;
	background: linear-gradient(to right, #37b9e1, #5e7bea);
	color: white;
	font-size: 1.125rem;
	font-weight: bold;
	box-shadow: 0px 10px 10px #61b7b6;
	-webkit-box-shadow: 0px 10px 10px #61b7b6;
	-moz-box-shadow: 0px 10px 10px #61b7b6;
	border-radius: 30px;
	border: 0px;
}

.learn-about {
	height: 65px;
	width: 335px;
	background-color: white;
	border-radius: 40px;
	border: 1px solid #c1c1c1;
	text-align: center;
}
.center {
	text-align: center;
}

.dotted li:after {
	content: disc;
}

.footer {
	display: flex;
	flex-flow:column;
}
.bottom {
	display: flex;
	flex-flow: row;
	}

.bottom div {
	border: 1px solid red;
	}
.partners:before {
	display: block;
    width:1000px;
    content: '';
    position: relative;
    border-bottom: 1px solid #b9b9b9;
    /* top:50%; */
    left: 500px; 
}

.contacts {
	width: 220px;
	font-size: 0.875rem;

}
.company, .legal, .NeutronMail:after {

}
.social-networks {
	display: flex;
	width: 370px;
	justify-content: space-around;
	border: 1px solid orange;
	font-size: 0.75rem;
}
.dotted {

}
.copyright {
	font-size: 0.75rem;
	margin-top: 10px;
}

/* @media
.header-flex{
	display: flex;
	flex-wrap: wrap;
} */