.message-item-card {
  text-align: left;
  margin-left: 30px;
  background-color: rgb(150, 209, 174);
  color: rgb(3, 49, 49);
  max-width: 85%;

}

.message-item-header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-weight: bold;
}

.message-item-message {
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;

}

.message-item-from span {
  font-weight: bold
}

.self-message div {
  background: rgb(52, 173, 182);

}
