.message-item-card {
  display: flex;
  flex-flow: column;
  align-items: space-between;
  text-align: left;

  width: 70%;
  /* background-color: rgb(160, 193, 253); */
  /* border:  5px solid rgb(97, 153, 153); */

  margin-left: 30px;

  color: rgb(3, 49, 49);
}

.message-item-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;

  font-weight: bold;
  /* border:  2px solid rgb(97, 153, 153); */
}
